{% extends "base.html" %}
{% load i18n allauth account %}
{% block title %}Restaurar Contraseña{% endblock %}
{% block content %}
    <h1>Restaurar Contraseña</h1>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>¿Olvidaste tu contraseña? Ingresa tu dirección de correo electrónico a continuación y te enviaremos un email que te permitirá restablecerla.</p>
    {% url 'account_reset_password' as reset_url %}
    {% element form form=form method="post" action=reset_url %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans 'Restaurar contraseña' %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
{% endblock content %}
